@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rock+Salt&display=swap');
@font-face{
    font-family: 'blanka';
    src: url(Blanka-Regular.otf);
}
:root {
    --fondo-tema: #ffffff;
    --modo-noche:#0b0014ff;
    --login-registro: rgba(255, 255, 255, 0.61);
    /* este es el color de el logo ssaci y otras*/
    --color-logo: #7209b7ff;

    --fondo-contenido: rgb(255, 255, 255);
    --color-fecha: rgb(44, 119, 94);
    --color-hoja: #ffffff9a;
    --color-inputs:  rgba(232, 215, 253, 0.911);

    --sombra: -2px 3px 4px 0px #dadada85;
    --sombra-cajas: -2px 3px 4px 0px rgba(158, 158, 158, 0.301);
    --sombra-dentro: inset 4px 4px 9px #bebebe;

    --fondo-footer:rgba(153, 153, 153, 0.76);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    background: var(--fondo-tema);
}
.contenido{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    background: var(--fondo-tema);
    box-shadow: var(--sombra-cajas);
}
.ssaci-cont{
    color: var(--color-logo);
    font-size: 23px;
    font-family: 'blanka';
    font-weight: 800;
    margin-top: -10px;
}
