.body {
    position: relative;
    display: grid;
    place-items: center;
    font-family: 'Poppins', sans-serif;
}
.caja-login {
    width: 340px;
    height: max-content;
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    box-shadow: var(--sombra);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.caja-login .titulo {
    color: var(--fondo-osc);
    font-size: 35px;
    font-family: 'blanka';
    font-weight: 800;
    padding-bottom: 15px;
}
/*como cada cajita donde estan los imput contra y usuario*/
.caja-login label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.caja-login label i {
    font-size: 20px;
    color: var(--fondo-osc);
}
.caja-login label input {
    width: 90%;
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 16px;
}
.caja-login label input::placeholder {
    color: rgb(162, 176, 176);
}
.caja-login a{
    color: var(--fondo-osc);
    font-size: 14px;
}
.caja-login a:hover{
    text-decoration-line:underline;
}
#boton-ingresar{
    color: #090909;
    padding: .5rem 1.5rem;
    font-size: 14px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 4px 4px 9px #bebebe,
    -4px -4px 9px #ffffff;
    cursor: pointer;
}
#boton-ingresar:active {
    color: #666;
    box-shadow: var(--sombra-dentro);
   }
/*olvidaste tu contraseña*/
#campo-mensajes{
    position: absolute;
    top: 100px;
    max-width: 280px;
    height: 61px;
    background:#acbe9fc2;
    box-shadow:var(--sombra);
    border-radius: 10px;
    padding: 20px;
    display: none;
}  
#campo-mensajes #mensaje{
    width: 90%;
    text-align: center;
}
#boton-cerrar-mensaje {
    width: 28px;
    border: none;
    background: rgb(187, 20, 20);
    border:5px solid #14344d;;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
}
.div-transicionRegistroLogin{
    position: absolute;
    top: 50px;
    left: 90px;
}
.btn-transicion{
    height: 20px;
    width: 20px;
    background: #40a596;
    box-shadow:-3px -2px #14a5a5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
/* animacion */
.caja-registro{
 margin: 0;
 display: none;
 
}
.ocultar{
    display: none;
}
.ver{
    display: block;
}
