@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rock+Salt&display=swap');
@font-face{
    font-family: 'blanka';
    src: url(Blanka-Regular.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.body {
    height: 100vh;
    max-height: 100vh;
    background: #14344d;
    position: relative;
}
.modo-noche {
    background: #386385;
}
.boton-mode {
    position: relative;
    width: 50px;
    padding: 10px;
    background: #53cc02;
    box-shadow:-3px -2px #4ea514;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    transform: translate(30px, 30px);
}
/*icon sol y luna*/
.boton-mode .bi-brightness-high-fill,.boton-mode .bi-moon-fill{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.contenedor-login-registro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.caja-login {
    width: 340px;
    height: max-content;
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    box-shadow:  20px 20px 60px #0e2436,
                -20px -20px 60px #1a4464;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.caja-login .titulo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'blanka';
    font-weight: 800;
    padding-bottom: 15px;
}
/*como cada cajita donde estan los imput contra y usuario*/
.caja-login label i {
    font-size: 20px;
    color: rgb(201, 238, 210);
}
.caja-login label input {
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px black;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.caja-login label input::placeholder {
    color: rgb(162, 176, 176);
}
.caja-login a{
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.caja-login a:hover{
    text-decoration-line:underline;
}
.caja-login #boton-ingresar{
    width: 70%;
    height: 34px;
    background: #53cc02;
    box-shadow:-3px -2px #4ea514;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
/*olvidaste tu contraseña*/
#campo-mensajes{
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 40%);
    max-width: 280px;
    height: 61px;
    background:#53cc02c2;
    box-shadow:-3px -2px #4ea514;
    border-radius: 10px;
    padding: 20px;
    display: none;
}
#campo-mensajes #contenido{
    width: 90%;
    text-align: center;
}

#boton-cerrar-mensaje {
    width: 28px;
    border: none;
    background: rgb(187, 20, 20);
    border:5px solid #14344d;;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: -10px;
    right: -10px;
}
.div-transicionRegistroLogin{
    position: absolute;
    top: 50px;
    left: 90px;
}
.btn-transicion{
    height: 20px;
    width: 20px;
    background: #40a596;
    box-shadow:-3px -2px #14a5a5;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.div-transicionRegistroLogin i{
    color: #000000;
    font-size: 30px;
}
/* animacion */
.caja-registro{
 margin: 0;
 display: none;
 
}
.ocultar{
    display: none;
}
.ver{
    display: block;
}
