@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rock+Salt&display=swap');
@font-face{
    font-family: 'blanka';
    src: url(Blanka-Regular.otf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.body {
    height: 100vh;
    max-height: 100vh;
    background: #14344d;
}
.modo-noche {
    background: #0c2131;
}
.boton-mode {
    position: relative;
    width: 50px;
    padding: 10px;
    background: #53cc02;
    box-shadow:-3px -2px #4ea514;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    transform: translate(30px, 30px);
}
/*icon sol*/
.boton-mode .bi-brightness-high-fill {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
/*icon luna*/
.boton-mode .bi-moon-fill {
    color: rgb(131, 133, 167);
    font-size: 30px;
}
.caja-login {
    width: 340px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    box-shadow:  20px 20px 60px #0e2436,
                 -20px -20px 60px #1a4464;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.caja-login .titulo {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'blanka';
    font-weight: 800;
    padding-bottom: 15px;
}
/*como cada cajita donde estan los imput contra y usuario*/
.caja-login label i {
    font-size: 20px;
    color: rgb(201, 238, 210);
}
.caja-login label input {
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px black;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.caja-login label input::placeholder {
    color: rgb(162, 176, 176);
}
.caja-login a{
    color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.caja-login a:hover{
    text-decoration-line:underline;
}
.caja-login #boton-ingresar{
    width: 70%;
    height: 34px;
    background: #53cc02;
    box-shadow:-3px -2px #4ea514;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
/*olvidaste tu contraseña*/
#campo-mensajes{
    position: relative;
    top: -40%;
    left: 50%;
    transform: translate(-50%, 40%);
    max-width: 280px;
    height: 61px;
    background:#53cc02c2;
    box-shadow:-3px -2px #4ea514;
    border-radius: 10px;
    padding: 20px;
    display: none;
}

#campo-mensajes #contenido{
    width: 90%;
    text-align: center;
}

#boton-cerrar-mensaje {
    width: 28px;
    border: none;
    background: rgb(187, 20, 20);
    border:5px solid #14344d;;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: -10px;
    right: -10px;
}
.caja-cambiarA{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    top: 200px;
}
.btn-cambiarA{
    background: #a7e0d7;
    box-shadow:-3px -2px #14a5a5;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja-cambiarA i{
    color: #000000;
    font-size: 30px;
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
.caja-registro{
    width: 420px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow:  20px 20px 60px #0e2436,
                 -20px -20px 60px #1a4464;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
    display: none;
}
.caja-registro .titulo{
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}
.titulo .ssaci{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'blanka';
    font-weight: 800;
}
.caja-registro .campo{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.campo label{
    color: rgb(201, 238, 210);
}
.campo input{
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px black;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.input-edad{
    width: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    -moz-appearance: textfield;
    appearance: textfield;
}
.input-sexo{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(179, 219, 219);
}
.btn-enviar-registro{
    width: 70%;
    height: 34px;
    background: #53cc02;
    box-shadow:-3px -2px #4ea514;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
