@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Poppins:wght@300;400;500;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    max-height: 100vh;
    margin: 0;
}
.nav-box{
    z-index: -9999;
    top: 0;
    position: fixed;
    height: 150px;
    width: 100%;
    background-image: url('../imagenes/wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); */
    display: flex;
    align-items: center;
}
.nav-box .logo{
    width: 5rem;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: auto;
}
nav{
    display: flex;
    list-style: none;
    height: 50%;
    margin-top: 10px;
    margin-bottom: auto;
}
.nav_lista{
    display: flex;
    align-items:start;
    gap: 4rem;
}
.nav_lista li{
    font-weight: 600;
    display: flex;
    align-items: center;

}
li i {
    font-size: 24px;
    color: #ffff;
}
li a{
    color: #ffff;
    padding: 5px;
    text-decoration: none;
}