@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=Rock+Salt&display=swap');
@font-face{
    font-family: 'blanka';
    src: url(Blanka-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    max-height: 100vh;
    background: #14344d;
}
.caja-registro{
    width: 420px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 20px;
    background: transparent;
    box-shadow:  20px 20px 60px #0e2436,
                 -20px -20px 60px #1a4464;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
}
.caja-registro .titulo{
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.titulo .ssaci{
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'blanka';
    font-weight: 800;
}
.caja-registro .campo{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.campo label{
    color: rgb(201, 238, 210);
}
.campo input{
    outline: none;
    border: none;
    color: black;
    border-bottom: solid 1px black;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.input-edad{
    width: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    -moz-appearance: textfield;
    appearance: textfield;
}
.input-sexo{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(179, 219, 219);
}
.btn-enviar-registro{
    width: 70%;
    height: 34px;
    background: #53cc02;
    box-shadow:-3px -2px #4ea514;
    border: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
