body{
    display: grid;
    place-items: center;
}
.caja-registro{
    width: 420px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background: transparent;
    box-shadow: var(--sombra);
}
.caja-registro .titulo{
    font-size: 20px;
    color: var(--fondo-osc);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.titulo .ssaci{
    color: var(--fondo-osc);
    font-size: 35px;
    font-family: 'blanka';
    font-weight: 800;
}
.caja-registro .campo{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.campo label{
    color: var(--fondo-osc);
}
.campo input{
    outline: none;
    border: none;
    color: black;
    border-radius: 10px;
    padding: 0 6px;
    font-size: 14px;
    margin-bottom: 20px;
}
.input-edad{
    width: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    -moz-appearance: textfield;
    appearance: textfield;
}
.input-sexo{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(179, 219, 219);
}
.btn-enviar-registro{
    width: 70%;
    color: #090909;
    padding: .5rem 1.5rem;
    font-size: 14px;
    border-radius: 0.5em;
    background: #e8e8e8;
    transition: all .3s;
    box-shadow: 4px 4px 9px #bebebe,
    -4px -4px 9px #ffffff;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
