section:nth-of-type(1) {
    display: flex;
    align-items: center;
    background-color: aqua;
}
.caja-registro{
    width: 420px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background: var(--login-registro);
    box-shadow: var(--sombra);
}
.caja-registro .titulo{
    text-align: center;
    font-size: 20px;
    color: var(--color-logo);
    display: flex;
    margin-bottom: 20px;
}
.caja-registro .campo{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.caja-registro .campo label{
    color: var(--color-logo);
} 
.campo input{
    width: 100%;
    outline: none;
    border: none;
    color: black;
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 14px;
    margin-bottom: 15px;
}
.campo .input-edad{
    width: 60px;
}
.campo-sexo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input-sexo{
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgb(179, 219, 219);
}
.boton-registar{
    color: #090909;
    padding: .5rem 1.5rem;
    font-size: 14px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 4px 4px 9px #bebebe,
    -4px -4px 9px #ffffff;
    cursor: pointer;
    margin-top: 20px;
    transition: all .3s;
}
.boton-registar:active {
    color: #666;
    box-shadow: var(--sombra-dentro);
   }